.input__label {
  color: #5D6572;
  display: block;
  margin-bottom: 5px;
  font: {
    weight: bold;
  };
}

.input__control {
  caret-color: #4f46e5;
  height: 46px;
  border: 1px solid #CBD5E1;
  border-radius: 5px;
  padding: 0 10px
}

.input__item {
  position: relative;
}

.input__eye {
  --size: 24px;

  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
}

